# Wiki Parser runtime dependencies
mwxml
mwparserfromhell
pymssql
sentencex
tqdm

# Local wikitextprocessor package dependencies
dateparser>=1.3.0
lupa
lxml
mediawiki_langcodes==0.2.25
psutil
requests
streamlit

# Install the bundled parser package itself.
-e ./wikitextprocessor
